<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create film</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/timepicki.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>
<body style="background-color: #eee;">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
                <div class="card border-yellow">
                    <div class="card-header border-yellow">
                        <p class="text-center text-dark text-opacity-75 h2 mb-2 mx-1 mx-md-4 mt-4">Create film</p>
                    </div>
                    <div class="card-body">
                        <form th:method="post" th:action="@{/films/createFilm1}" th:object="${film}" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                	<label for="name" class="fw-semibold text-dark text-opacity-75 mb-1">Film title:</label>
                                    <input class="form-control" type="text" id="name" th:field="*{title}" autocomplete="off">
                                    <p class="text-start fs-6 text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name error</p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <label for="description" class="fw-semibold text-dark text-opacity-75 mb-1">Film description:</label>
                                    <textarea class="form-control" id="description" th:field="*{description}" autocomplete="off" style="height: 90px;"></textarea>                                        
                                    <p class="text-start fs-6 text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name error</p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">        
                                    <label for="timepicker" class="fw-semibold text-dark text-opacity-75 mb-1" >Film duration:</label>
                                    <input class="form-control" type="text" th:field="*{duration}" id="timepicker" autocomplete="off">                                       
                                    <p class="text-start fs-6 text-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Name error</p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="d-grid gap-2 my-2">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Простой пример">
                                            <div class="btn-group btn-group-sm dropstart">
                                                <button type="button" class="btn btn-custom-outline-primary" data-bs-offset="0, 10" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                                    Select director
                                                </button>											
                                                <ul class="dropdown-menu" th:each="directors : ${mapOfPersonsByAmplua}" th:if="${directors.key.profession} == 'Director' ">
                                                    <li th:each="director : ${directors.value}">
                                                        <input class="form-check-input custom-checkbox" type="checkbox" th:value="${director.id} + ',' + ${directors.key.id}" th:id="${director.id}" th:name="persons"
                                                        	   th:checked="${#sets.contains(film.directorsIds, director.id)}">
                                                        <label class="form-check-label" th:for="${director.id}" th:text="${director.fullName}">Ridli Scott</label>
                                                      </li>
                                                </ul>
                                            </div>
                                            <a th:href="@{/films/personForm}" role="button" class="btn btn-custom-outline-primary">Create person</a>
                                            <div class="btn-group btn-group-sm dropend">
                                                <button class="btn btn-custom-outline-primary" type="button" data-bs-offset="0, 10" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Select actors
                                                </button>
                                                <ul class="dropdown-menu" th:each="actors : ${mapOfPersonsByAmplua}" th:if="${actors.key.profession} == 'Actor' ">
                                                  <li th:each="actor : ${actors.value}">
                                                    <input class="form-check-input custom-checkbox" type="checkbox" th:value="${actor.id} + ',' + ${actors.key.id}" th:id="${actor.id}" th:name="persons"
                                                    	   th:checked="${#sets.contains(film.actorsIds, actor.id)}">
                                                    <label class="form-check-label" th:for="${actor.id}" th:text="${actor.fullName}">Margo Robby</label>
                                                  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                <div th:each="e : ${#fields.detailedErrors()}">                           
                                	<p class="text-start fs-6 text-danger" th:if="${e.getCode()} == NotEmptyDirectorsList" th:text="${e.getMessage()}">Name error</p>
                                	<p class="text-start fs-6 text-danger" th:if="${e.getCode()} == NotEmptyActorsList" th:text="${e.getMessage()}">Name error</p>
                                </div>
                                </div>                          
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-grid gap-2 dropdown dropstart">
                                                <button type="button" class="btn btn-sm btn-custom-outline-danger" data-bs-offset="0, 10" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                                    Select country
                                                </button>
                                                <p class="text-start fs-6 text-danger" th:if="${#fields.hasErrors('countries')}" th:errors="*{countries}">Name error</p>
                                                <ul class="dropdown-menu">
                                                    <li th:each="country : ${countryList}">
                                                        <input class="form-check-input custom-checkbox" type="checkbox" th:value="${country.id}" th:id="${country.id}" th:name="countries"
                                                        	   th:checked="${#sets.contains(film.countries, country)}">
                                                        <label class="form-check-label" th:for="${country.id}" th:text="${country.name}">Russia</label>
                                                     </li>
                                                </ul>
                                            </div>
                                        </div>                                       
                                        <div class="col-6">                                        
                                            <div class="d-grid gap-2 dropdown dropend">
                                                <button type="button" class="btn btn-sm btn-custom-outline-danger" data-bs-offset="0, 10" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                                    Select genre
                                                </button>
                                                <p class="text-start fs-6 text-danger" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}">Name error</p>
                                                <ul class="dropdown-menu">
                                                    <li th:each="genre : ${genreList}">
                                                        <input class="form-check-input custom-checkbox" type="checkbox" th:value="${genre.id}" th:id="${genre.id}" th:name="genres"
                                                        	   th:checked="${#sets.contains(film.genres, genre)}">
                                                        <label class="form-check-label" th:for="${genre.id}" th:text="${genre.title}">Drama</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>              
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-6">
                                        	<div class="d-grid gap-2">
                                            	<button type="button" class="btn btn-sm btn-custom-outline-success" onclick="document.getElementById('filmImg').click()">Select poster</button>
                                            	<input class="form-control" type="file" id="filmImg" accept="image/png, image/jpeg" name="posterImg" style="display:none" multiple>
                                        	</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="d-grid gap-2 dropdown dropend">
                                                <button type="button" class="btn btn-sm btn-custom-outline-success" data-bs-offset="0, 10" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                                    Select age rating
                                                </button>
                                                <p class="text-start fs-6 text-danger" th:if="${#fields.hasErrors('ageRating')}" th:errors="*{ageRating}">Name error</p>
                                                <ul class="dropdown-menu">
                                                    <li th:each="rating : ${T(ru.kuzin.CornCinema.models.AgeRating).values()}">
                                                        <input class="form-check-input custom-checkbox" type="radio" th:value="${rating}" th:id="${rating.name}" th:field="*{ageRating}">
                                                        <label class="form-check-label" th:for="${rating.name}" th:text="${rating.name}">0+</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="d-grid gap-2 px-0">
                                        <button class="btn btn-custom-warning" type="submit">Submit</button>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/timepicki.js"></script>
<script th:inline="javascript">
   let hours;
   let minutes;
   let duration = /*[[${film.duration}]]*/ null;
   if(duration == null){
		hours = "00";
		minutes = "00";
   } else {
		let arr = duration.split(':');
		hours = arr[0];
	 	minutes = arr[1];
   }	   
</script>
<script>
   $(document).ready(function(){	   
	   $("#timepicker").timepicki({		
    	min_hour_value:1,
        max_hour_value:4,
        show_meridian:false,
        step_size_minutes:10,
        overflow_minutes:true,
        start_time: [hours, minutes]
    });
  });
</script>
</body>
</html>